/** **************************************************************** ** 
	
	@Author:    Rapić Milan
	@Project:   Engage tool
	
	
	Table contents
	----------------------
	01. Common
	02. Header
	03. Footer
	04. Content
	
	----------------------

	Terminal:
	$ yui-compressor static/css/main.css -o static/css/main.min.css --charset utf-8

 ** **************************************************************** **/





/** **************************************************************** **
	
	01. Common 

 ** **************************************************************** **/

html {
	overflow-x:			hidden;
	overflow-y:			auto;
}

html, 
body {
	min-height:			100%;
}

body {
	background:			#ffffff;
	font-family:			'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:			300;
	font-size: 			0.9em;
}


#wrapper {
	//width: 				700px;
	//margin: 			10px auto;
}

.text-center {
	text-align: 			center;
}

.show {
	display: 			block !important;
}

.hide {
	display: 			none !important;
}

h1, h2 {
	font-weight: 			100;
	color: 				#3D3D3D;
}





/** **************************************************************** **
	
	02. Header 

 ** **************************************************************** **/

header {
	padding-top: 			20px;
	height: 			100px;
}

header h1 {
	text-align: 			center;
}





	
/** **************************************************************** **
	
	03. Footer 

 ** **************************************************************** **/

footer {
	min-height: 			200px;
	background-color: 		#181818;
}






	
/** **************************************************************** **
	
	04. Content 

 ** **************************************************************** **/

section { 
	padding: 			100px;
}

section p {
	text-align:  			justify;
}

section h2 {
	color: 				#252525;
	font-size: 			1.6em;
	font-weight: 			100;
}

section#section1 {
	background: 			#89BEBE;
}

section#section2 {
	background: 			#EAEAEA;
}

section#section3 {
	background: 			#59729D;
}

section#section4 {
	background: 			#EAEAEA;
}

section#section5 {
	background: 			#9D595C;
}

section#section6 {
	background: 			#EAEAEA;
}






/** **************************************************************** **/